
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.button {
   font: 16px/30px 'opensans-bold', sans-serif;
   display: inline-block;
   background: #3d4145;
	text-decoration: none;
   letter-spacing: 0;
   color: #fff;
	padding: 12px 20px;
	margin-bottom: 18px;
   border: none;
   cursor: pointer;
   height: auto;
    transition: all .2s ease-in-out;
   border-radius: 3px;
}

.button:hover {
   background: #3d4145;
   color: #fff;
}

.button:active{
   background: #3d4145;
   color: #fff;
}



.logo{
    height: 100px;
    float: left;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size:20px; 
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 2px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}
p { 
    margin: 0 0 30px 0; 
    text-align: justify;
}
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-resume:link,
.btn-resume:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-hire:link,
.btn-hire:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-resume:hover,
.btn-resume:active {
    border: 1px solid #cf6d17;
}

.btn-hire:hover,
.btn-hire:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
#skill{
    font-weight:200;
    color: #fff;
    margin-bottom: 15px;
}
.text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black { 
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}
#about {
    background: #2B2B2B;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
 } 
 #about h2 {
    font: 20px;
    color: #fff;
    margin-bottom: 10px;
 }
 #about h3{
    font: 10px;
    color: #fff;
    margin-bottom: 10px;
 }
 #about p {
    line-height: 30px;
    text-align: justify;
    color: #8A8A8A;
 }
 #about .profile-pic {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
 }
 #about .download .button {
    margin-top: 60px;
    background: #444;
 }
 #about .download .button:hover {
    background: #fff;
    color: #2B2B2B;
 }
 #about .download .button i {
    margin-right: 15px;
    font-size: 20px;
 }
 #skills{
     padding-top: 50px;
 }
 .skill h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    color: #2B2B2B;
    letter-spacing: 1px;
 }
 .skill h1 span {
    border-bottom: 3px solid #2B2B2B ;
    padding-bottom: 6px;
 }
 .bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .skills {
  	margin-top: 36px;
   list-style: none;
}
.bars li {
   position: relative;
  	margin-bottom: 60px;
  	background: #ccc;
  	height: 42px;
  	border-radius: 3px;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #313131;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: normal;
   position: relative;
	top: -36px;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;

   margin: 0;
   padding-right: 24px;
  	background: #313131;
   display: inline-block;
  	height: 42px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
}

.python {
  	width: 70%;
  	-moz-animation: photoshop 2s ease;
  	-webkit-animation: photoshop 2s ease;
}
.swift {
   width: 30%;
   -moz-animation: illustrator 2s ease;
   -webkit-animation: illustrator 2s ease;
}
.react {
   width: 50%;
   -moz-animation: wordpress 2s ease;
   -webkit-animation: wordpress 2s ease;
}
.cpp {
   width: 75%;
   -moz-animation: css 2s ease;
   -webkit-animation: css 2s ease;
}
.htmlcss {
   width: 70%;
   -moz-animation: html5 2s ease;
   -webkit-animation: html5 2s ease;
}
.javascript{
   width: 65%;
   -moz-animation: jquery 2s ease;
   -webkit-animation: jquery 2s ease;
}
footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

